body 
{
	background: linear-gradient(#c8ad7e,#cec4b8);
	height:100%;
}
html
{
	height: 100%;
}
h1, body
{
   margin: 0
}
#immagine
{
	height:220px;
	width:100%;
	display:block;
	background-image: url("../images/logo3.png");
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
}
#accedi
{
	background:#E6E6E6;
	/*border: 3px solid #C4C4C4;*/
	width:30%;
	/*height:350px;*/
	left:35%;
	position: absolute;
	text-align:center;
	font-size:200%;
	color:white;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 20px 20px 35px #9c9e9f;
}
#text
{
	color:white;
	padding-top:4%;
	padding-bottom:4%;
	display:block;
	background-color:#bbb;
	box-sizing:border-box;
	margin-bottom:30px;
	font-weight:normal;
}
#input
{
	display:block;
}
#errore
{
	font-size:70%;
	color:red;
	margin-top:2%;
}
.accedi input[type=text]
{
	width: 40%;
	padding: 2% ;
	display: inline-block;
	border: 1px solid #CFD1DC;
	box-sizing: border-box; 
	color:#666f77;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	font-weight:bold;
	/*margin-top:2%;*/
}
.accedi input[type=password]
{
	margin-top:2%;
	width: 40%;
	padding: 2% ;
	display: inline-block;
	border: 1px solid #CFD1DC;
	box-sizing: border-box; 
	color:#666f77;
	font-family: 'Montserrat', sans-serif;
	font-size:17px;
	font-weight:bold;
}
.accedi input[type=button]
{
	margin-top:7%;
	width: 40%;
	padding: 2% ;
	display: inline-block;
	box-sizing: border-box; 
	background:#C4C4C4;
	border: 1px solid #C4C4C4;
	color:#666f77;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
}
.accedi input[type=button]:hover
{
	background:#9c9e9f;
	border: 1px solid #9c9e9f;
	color:#E6E6E6;
}
.ricordaPassword input[type=checkbox]
{
}
#result
{
	margin-top:3%;
	margin-bottom:-4%;
	width:100%;
	/*position: absolute;*/
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	color:red;
	font-weight:bold;
}
#ricordaPassword
{
	margin-top:6%;
	width:100%;
	/*position: absolute;*/
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	color:#666f77;
	font-weight:bold;
}
#nuovaPassword
{
	margin-top:2%;
	width:100%;
	/*position: absolute;*/
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	color:#666f77;
	font-weight:bold;
}
#popup
{
	text-align:left;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:25px;
	/*padding-right:20px;*/
	position:absolute;
	right:50;
	bottom:90;
	font-size:14px;
	font-family:sans-serif;
	font-weight:normal;
	height:100px;
	line-height:20px;
	width:300px;
	background:#171717;
	display:inline-block;
	color:#F9F9F9;
	border-radius:10px;
}



